@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  --color-primary: #f78db0;
  --color-charcoal: #272727;
  --color-light-gray: #dfdfdf;
  --color-gray: #5c5c5c;
  --color-off-black: #303030;
  --color-off-white: #ededed;
  --color-body-dark: #111111;
  --color-body-dark-contrast: #1c1c1c;

  --font: "Open Sans", system-ui;

  /* Major second base 14/16px */
  /* --text-h1-mobile: 1.58rem;
  --text-h2-mobile: 1.4rem;
  --text-h3-mobile: 1.25rem;
  --text-h4-mobile: 1.12rem;
  --text-h1-desktop: 1.8rem;
  --text-h2-desktop: 1.6rem;
  --text-h3-desktop: 1.42rem;
  --text-h4-desktop: 1.27rem;
  --text-body: 1rem;
  --text-body-large: 1.125rem;
  --text-body-sm: 0.875rem; */
  --text-h1-mobile: 2.18rem;
  --text-h2-mobile: 1.81rem;
  --text-h3-mobile: 1.51rem;
  --text-h4-mobile: 1.26rem;
  --text-h1-desktop: 2.49rem;
  --text-h2-desktop: 2.07rem;
  --text-h3-desktop: 1.73rem;
  --text-h4-desktop: 1.44rem;
  --text-body: 1rem;
  --text-body-large: 1.125rem;
  --text-body-sm: 0.875rem;
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

body {
  color: var(--color-off-black);
}

mark {
  background-color: #f9e5ec;
}

html.dark body mark {
  background-color: #482c35;
  color: var(--color-off-white);
}

html.dark body {
  color: var(--color-off-white);
  background-color: var(--color-body-dark);
}

.theme-transition {
  transition: all 0.3s;
}

.markdown-table thead th {
  text-align: left;
  padding: 1rem;
  font-weight: 500;
}

.markdown-table tr {
  border-bottom: 1px var(--color-light-gray) solid;
}

html.dark .markdown-table tr {
  border-bottom-color: var(--color-off-black);
}

.markdown-table td {
  padding: 1rem;
}

.menu-btn-bounce {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
