@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@theme {
  /* --color-primary: #ffd1e0; */
  --color-primary: #f78db0;
  --color-primary-intense: #f78db0;
  --color-charcoal: #272727;
  --color-light-gray: #dfdfdf;
  --color-gray: #5c5c5c;
  --color-off-black: #303030;
  --color-off-white: #ededed;

  --font: "Open Sans", system-ui;

  /* Major second base 14/16px */
  --text-h1-mobile: 1.58rem;
  --text-h2-mobile: 1.4rem;
  --text-h3-mobile: 1.25rem;
  --text-h4-mobile: 1.12rem;
  --text-h1-desktop: 1.8rem;
  --text-h2-desktop: 1.6rem;
  --text-h3-desktop: 1.42rem;
  --text-h4-desktop: 1.27rem;
  --text-body: 1rem;
  --text-body-large: 1.125rem;
  --text-body-sm: 0.875rem;
}

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

body {
  color: var(--color-off-black);
}

mark {
  background-color: #f9e5ec;
  transition: all 0.2s;
}

html.dark body mark {
  background-color: #482c35;
  color: var(--color-off-white);
}

html.dark body {
  color: var(--color-off-white);
  background-color: #111111;
}

.theme-transition {
  transition: all 0.2s;
}
