@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-primary: #ffd1d2;
  --color-primary-intense: #fca2a4;
  --color-charcoal: #272727;
  --color-light-gray: #dfdfdf;
  --color-gray: #5c5c5c;
  --font: "Open Sans", system-ui;

  /* Major second base 16px */
  --text-h1-desktop: 1.8rem;
  --text-h2-desktop: 1.6rem;
  --text-h3-desktop: 1.42rem;
  --text-h4-desktop: 1.27rem;
  --text-h1-mobile: 1.58rem;
  --text-h2-mobile: 1.4rem;
  --text-h3-mobile: 1.25rem;
  --text-h4-mobile: 1.12rem;
  --text-body: 1rem;

  --text-body-large: 1.125rem;
}

* {
  box-sizing: border-box;
}

mark {
  background-color: rgb(255, 252, 226);
}
